@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Lato;
    max-width: 1600px;
}

body {
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    padding: 0px 230px;
    margin: 0 auto;
    max-width: 1140px;
    align-items: center;
}

.top {
    background-color: #222222;
}

.header img {
    display: inline;
    margin-right: 41px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 19px;
    margin: 0px auto;
}

.headerL {
    margin-right: auto;
    align-content: center;
}

.headerR button {
    margin-left: 33px;
}

.header button {
    border: none;
    background-color: rgb(0 0 0 / 0%);
    cursor: pointer;
}

.brand {
    background-color: #F1E4E6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.drop {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-content: end;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 32px;
    background-color: #FFFFFF;
    box-shadow: 6px 4px 35px 0px #00000036;
}

.dropH {
    display: none;
}

.drop h5 {
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    color: #000000;
    margin-bottom: 24px;
}

.drop h6 {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: #F16D7F;
    margin-bottom: 12px;
}

.drop a {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: #6F6E6E;
    margin: 0px 0px 12px 22px;
}

.brandR {
    margin-right: auto;
    border-left: solid;
    border-color: #F16D7F;
    border-width: 12px;
}

.brandR h1,
h2 {
    margin-left: 12px;
}

.brandR h1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}

.brandR h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.spec {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin: 65px auto 96px;
}

.spec1 {
    background-image: url("./img/spec1.png")
}

.spec2 {
    background-image: url("./img/spec2.png")
}

.spec3 {
    background-image: url("./img/spec3.png")
}

.spec4 {
    grid-row-start: 2;
    grid-column: 1/ 4;
    background-image: url("./img/spec4.png")
}

.darkening {
    background: #211616B2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 260px;
}

.darkeningBottom {
    width: 1140px;
}

.specText h4 {
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.specText h3 {
    text-align: center;
    color: #F16D7F;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.featTitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.featTitle h1 {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.featTitle h3 {
    margin: 6px auto 48px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.featItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 25px;
    margin-bottom: 48px;
    padding: 0;
}

.featIt {
    width: 360px;
    height: 587px;
    background-color: #F8F8F8;
}

.featIt h4 {
    margin: 24px 18px 12px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.featIt h6 {
    margin: auto 18px 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.featIt h5 {
    margin: auto 18px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.cartD:hover {
    background-color: #3A3838DB;
    position: absolute;
    width: 360px;
    height: 420px;
    top: 0px;
    left: 0px;
    transition: ease-out;
    transition-duration: 0.3s;
}

.cartB {
    position: absolute;
    top: 0px;
    width: 360px;
    height: 420px;
    border: none;
    background: none;
    font-size: 0px;
    opacity: 0;
    cursor: pointer;
}

.cartB:hover {
    border-color: #FFFFFF;
    border-width: 1px;
    background: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
    transition: ease-out;
    transition-duration: 0.3s;
}

.cartIt {
    position: relative;
}

.browseAll {
    display: flex;
    justify-content: center;
}

.browseAllB {
    border-width: 1px;
    border-color: #FF6A6A;
    color: #F26376;
    background-color: white;
    padding: 15px 39px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    margin-bottom: 95px;
}

.browseAllB:hover {
    background-color: #FF6A6A;
    color: #FFFFFF;
    transition: ease-out;
    transition-duration: 0.3s;
    cursor: pointer;
}

.assurance {
    background: #222224;
    padding: 103px 230px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.asItem {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.asItem img {
    max-width: 45px;
    max-height: 32px;
    margin-bottom: 28px;
}

.asItem h4,
h5 {
    color: #FBFBFB;
}

.asItem h4 {
    margin-bottom: 16px;
    font-size: 19.96px;
    font-weight: 400;
    line-height: 23.95px;
}

.asItem h5 {
    font-size: 13.97px;
    font-weight: 400;
    line-height: 16.77px;
}

.mail {
    background-image: url("./img/mailBG.jpg");
    max-height: 448px;
}

.darkeningM {
    display: flex;
    justify-content: center;
    align-content: space-between;
    background-color: #F4F4F4B2;
    height: 448px;
}

.mailL {
    margin-right: auto;
    max-width: 359px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.mailL img {
    margin-bottom: 30px;
}

.mailL p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.mailR {
    max-width: 557px;
    text-align: center;
}

.mailR h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 40.13px;
}

.mailR h4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 30.1px;
    margin-bottom: 32px;
}

.form {
    display: flex;
    justify-content: center;
    gap: 0px;
}

.formL {
    width: 256px;
    height: 49px;
    margin-right: 0px;
    background-color: #E1E1E1;
    border: none;
    border-radius: 21px 0px 0px 21px;
    padding-left: 22px;
    padding-right: 22px;
}

.formR {
    width: 100px;
    height: 49px;
    background-color: #F16D7F;
    border: none;
    border-radius: 0px 21px 21px 0px;
    color: #FFFFFF;
    cursor: pointer;
}

.bottom {
    display: flex;
    justify-content: center;
    align-content: space-between;
    background-color: #222224;
    height: 79px;
    color: #222224;
}

.bottomL {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #FBFBFB;
    margin-right: auto;
}

.bottomR {
    display: flex;
    gap: 7px;
}

.footLink {
    cursor: pointer;
}

.footLink:hover {
    filter: invert(78%) sepia(45%) saturate(5423%) hue-rotate(308deg) brightness(95%) contrast(99%);
}

@media(max-width: 768px) {
    .browseAll button {
        margin-bottom: 64px;
    }
    .container {
        max-width: 736px;
        padding: 0px 16px;
        margin: 0 auto;
        align-items: center;
    }
    .header {
        display: flex;
        justify-content: space-between;
        padding: 18px 32px;
        margin: 0px auto;
    }
    .brand img {
        width: 386px;
        height: 368px;
    }
    .brandR {
        margin-left: 39px;
        transform: scale(0.8);
        text-wrap: nowrap;
    }
    .spec {
        display: grid;
        gap: 19px;
        justify-content: center;
        margin-top: 65px;
        row-gap: 19px;
        grid-template-rows: 167px 116px;
        margin-bottom: 110px;
    }
    .spec1 {
        width: 232px;
        background-size: cover;
        height: 167px;
    }
    .spec2 {
        width: 232px;
        background-size: cover;
        height: 167px;
    }
    .spec3 {
        width: 232px;
        background-size: cover;
        height: 167px;
    }
    .spec4 {
        width: 734px;
        height: 116px;
    }
    .darkening {
        width: 232px;
        height: 167px;
    }
    .darkeningBottom {
        width: auto;
        height: 116px;
    }
    .featItems {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 16px;
        margin-bottom: 32px;
        padding-left: 0px;
        margin-left: 0px;
    }
    .assurance {
        flex-direction: column;
        padding-top: 48px;
        padding-bottom: 64px;
    }
    .darkeningM {
        flex-direction: column;
        padding-top: 64px;
        padding-bottom: 140px;
        gap: 48px;
    }
    .mailL {
        margin-right: 0px;
    }
    .mail {
        max-height: 693px;
        background-size: cover;
    }
    .bottom {
        padding: 0px 32px;
    }
}

@media(max-width: 375px) {
    .container {
        padding: 0;
        margin: 0px 16px;
        align-items: center;
    }
    .header {
        padding: 18px 0px;
        justify-content: space-between;
        align-content: center;
    }
    .headerR img {
        margin-right: 0;
    }
    .brandR {
        align-self: center;
        margin: 148px 56px;
        text-wrap: nowrap;
        transform: scale(1);
    }
    .brandR h1 {
        font-size: 38px;
        line-height: 45px;
    }
    .brandR h2 {
        font-size: 20px;
        line-height: 24px;
    }
    .brand {
        padding: 0;
    }
    .featItems {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        gap: 16px;
        margin-bottom: 40px;
        max-width: 343px;
        margin-right: 8px;
    }
    .spec {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 247px) 111px;
        margin: 64px 16px;
        max-width: 343px;
        gap: 32px;
    }
    .spec1 {
        grid-row-start: 1;
        width: 343px;
        height: 247px;
    }
    .spec2 {
        grid-row-start: 2;
        width: 343px;
        height: 247px;
    }
    .spec3 {
        grid-row-start: 3;
        width: 343px;
        height: 247px;
    }
    .spec4 {
        grid-row-start: 4;
        grid-column: 1/ 1;
        width: 343px;
        height: 111px;
        text-wrap: nowrap;
    }
    .featTitle {
        margin-bottom: 64px;
    }
    .darkening {
        width: 343px;
        height: 247px;
    }
    .darkeningBottom {
        height: 111px;
    }
    .specText {
        margin: 98px 95px;
        transform: scale(1.1);
    }
    .hidePhone {
        display: none;
    }
    .featIt {
        max-width: 343px;
        height: auto;
    }
    .cartD:hover {
        width: 343px;
        height: 400px;
    }
    .assurance {
        padding: 48px 14px 81px;
    }
    .darkeningM {
        background-size: cover;
        margin: 0px -16px;
        height: 650px;
    }
    .mailL {
        padding-top: 64px;
        margin: 64px 16px 59px;
    }
    .mail {
        max-height: 650px;
    }
    .mailR {
        margin: 0px 16px 110px;
    }
    .form {
        margin-left: 16px;
        margin-right: 16px;
    }
    .formL {
        width: 220px;
    }
    .formR {
        width: 95px;
    }
    .mailR h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 36.77px;
    }
    .mailR h4 {
        font-size: 14px;
        font-weight: 400;
        line-height: 21.45px;
    }
    .bottom {
        margin: auto -16px;
        flex-direction: column-reverse;
        align-items: center;
        align-content: center;
        height: 143px;
        gap: 40px;
    }
    .bottomL {
        margin: 0px 0px 9px;
    }
    .bottomR {
        margin-top: 43px;
    }
}